*~
*.o
*.obj
*.tmp
*.diff
*.patch
*.swp
*.exe
*.dll
*.res
*.pdb
*.suo
*.user
*.sdf
*.opensdf
*.xdc
*.cdf
*.cat
ipch
Bin
D3DWorkshopInstaller/Tmp
D3DWorkshop/Debug
D3DWorkshop/Release
D3DWTriangleExample/Debug
D3DWTriangleExample/Release
